<div class="post-list container">
    {{#foreach posts}}
    <article class="post-item">
        <div>
            <a href="{{url}}">
                <h1 class="post-title">{{title}}</h1>
            </a>
            <em class="time-posted">{{date published_at timeago="true"}}</em>
        </div>
        <a href="{{url}}">
            <figure class="post-image" style="background-image: url({{feature_image}})"></figure>
        </a>
        <section class="excerpt">
            <p>
                {{excerpt words="50"}}...
            </p>
        </section>
        <footer>
            <a class="continue" href="{{url}}">Continue Reading</a>
        </footer>
    </article>
    <hr/>
    {{/foreach}}
    {{pagination}}
</div>
