{{!< default}}

{{#post}}

<main id="site-main" role="main">

    {{#if feature_image}}
    {{!-- <figure class="post-full-image image is-5by4" style="background-image: url({{feature_image}})">
    </figure> --}}
    <figure class="post-full-image" style="background-image:url({{feature_image}})">
    </figure>
    {{/if}}

    <section class="content container">
        <h1 class="post-title">{{title}}</h1>
        <span class="post-subtitle">{{date published_at}}</span>
        {{content}}
    </section>
</main>

{{/post}}

{{#contentFor "scripts"}}

{{/contentFor}}
